# VSCode
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# R & Bookdown
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore

# Book
book/*
!book/_book/CNAME
!book/assets
!book/data
!book/*.R
!book/*.yml
!book/*.Rmd
!book/*.bib
!book/_404.md

# Customlize
test.r
courses
.radian_history
book/.obsidian