/* 侧栏 */
.book .book-summary ul.summary {
  background-color: #8fa8c01f;
}

.book .book-summary ul.summary>li.chapter,
.book .book-summary ul.summary>li.part {
  padding-left: 15px;
}

.book .book-summary ul.summary>li>ul {
  padding-left: 0;
  margin-left: 20px;
  border-left: 1px solid #a1b2c16b;
}

.book .book-summary ul.summary>li.chapter>a,
.book .book-summary ul.summary>li.part>a {
  border: 1px solid transparent;
  border-right: none;
  color: #5c6975;
}

.book .book-summary ul.summary li>a:hover {
  background-color: #78828917;
  color: #5c6975;
}

.book .book-summary ul.summary li.part span {
  letter-spacing: 1.2px;
  line-height: 18px;
  font-size: 12px;
  color: #8899a8;
  opacity: 1;
  margin-top: 25px;
}

.book .book-summary ul.summary li.chapter.active>a {
  background-color: #fff;
  border-color: #a1b2c16b;
  color: #346ddb;
}

.book .book-header,
.book .book-summary {
  font-family: 'Noto Sans SC', sans-serif;
}

/* 顶栏 */
.dropdown-menu {
  border-radius: 5px;
  padding: 0 20px;
  box-shadow: 0 4px 10px #0000001f;
}

.book .book-header.fixed {
  background-color: #ffffff2e !important;
  backdrop-filter: blur(20px);
}

/* 内容 */
.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-size: 45px;
  line-height: 56px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid rgba(227, 232, 237, 1.00);
}

#header {
  background-color: #8fa8c01f;
  padding: 20px;
}

#header .author,
#header .date {
  margin: 0;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  background-color: #8fa8c01f;
}

button.copy-to-clipboard-button {
  background: #ffffff;
  border: 1px solid #a1b2c16b;
  margin: 7px 7px 0 0;
  padding: 4px 8px;
  border-radius: 5px;
  visibility: visible;
  transition: .3s;
  opacity: 0;
  cursor: pointer;
}

div.sourceCode:hover>.copy-to-clipboard-button {
  opacity: 1;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #346ddb;
}

.book.font-family-0 {
  font-family: 'Noto Serif SC', serif;
}

.book.font-family-1 {
  font-family: 'Noto Sans SC', sans-serif;
}

/* 其他主题 */
.book.color-theme-1 .book-summary ul.summary li.chapter.active>a {
  background-color: #a1683a69;
  color: #c3c59d;
}

.book.color-theme-2 .book-summary ul.summary li.chapter.active>a {
  background-color: #00000040;
  color: #6499ff;
}

.book.color-theme-2 i.fa.fa-copy {
  color: #fff;
}

.book.color-theme-2 button.copy-to-clipboard-button {
  background: #2e2e2e;
}

/* 不同尺寸设备修复 */
@media screen and (max-width: 600px) {

  .book.with-summary .book-body.fixed .page-wrapper {
    filter: brightness(40%);
  }

  .page-wrapper {
    margin-top: 0;
  }
}

.book .book-body .page-wrapper .page-inner section.normal {
  padding-top: 70px;
}

.book .book-body.fixed {
  top: 0;
}

.book .book-body .page-wrapper .page-inner {
  padding: 0 0 40px;
}